name: Develop Branch Workflow

on: 
    push:
      branches: [ develop, main ]
      paths-ignore:
      - '.github/**'
    pull_request:
      branches: [ develop, main ]
      paths-ignore:
      - '.github/**'


jobs:
  Build-Test-Deploy:
    runs-on: ubuntu-latest
    environment:
      name: Dev
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup & Configure Node
        uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
      - name: Build
        run: npm install; npm run build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GPR_TOKEN }}
      - name: Run Unit Tests
        run: npm run test
      - name: Build for scan
        if: ${{ success() }}
        run: docker-compose up -d && echo "Completed Build for scan"
      - name: ZAP Scan
        if: ${{ success() }}
        uses: zaproxy/action-baseline@v0.3.0
        with:
          target: 'http://localhost:9080'
          cmd_options: '-I' # Don't fail on WARNings

      - name: clean up after scan
        run: docker-compose down && echo "Completed clean up after scan"
